<!DOCTYPE html>
<html>
	<head>
		<title>渡辺システム</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
		<style>
			h1{ font-size:28pt; color:black; }
		</style>
	</head>


	<body>

		<div id = "site-box">

		<div id = "header-box">
		<div id = "title-box">
			<h1>現在の雨の状況をチェック！</h1>
		</div>
		</div>


		<div id = "main-box">
		<div id = "graph-box">
			<canvas id="stage" height="200"></canvas>

		<script>
			//「月別データ」
			var mydata = {
				labels : [ "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30" ],
				datasets : [ {
					label : '降水量(mm/h)',
					hoverBackgroundColor : "rgba(255,99,132,0.3)",
					data : [ 1.1, 3.4, 4.0, 5.4, 6.0, 6.3, 0.0 ],
					lineTension: 0 //直線グラフになる
				} ]
			};

			// 「オプション設定」
			var options = {
				title : {
					display : true,
					text : ''
				}
			};

			var canvas = document.getElementById('stage');
			var chart = new Chart(canvas, {

				type : 'line', // グラフの種類
				data : mydata, // 表示するデータ
				options : {
					scales : {
						yAxes : [ {
							ticks : {
								beginAtZero : true,
								min : 0,
								max : 20
							}
						} ]
					}
				}
			});
		</script>

		</div>


		<div id = "right-box">
			<div id = "half-height-box">
				<div id = "left-unit-box">
					<img src="./images/rain2.png" style="width:100%; height:auto">
				</div>
				<div id = "right-unit-box">
					<div id = "half-height-box">
						<div id = "left-unit-box">
							<img src="./images/rain2.png" style="width:100%; height:auto">
						</div>
						<div id = "right-unit-box">
							<p>現在の気温は <%= temp %>℃で</p>
						</div>
					</div>
					<div id = "half-height-box">
						<div id = "left-unit-box">
							<img src="./images/rain2.png" style="width:100%; height:auto">
						</div>
						<div id = "right-unit-box">
							<p>現在の気温は <%= temp %>℃で</p>
						</div>
					</div>
				</div>
			</div>


			<div id = "half-height-box">
				<div id = "left-unit-box">
					<img src="./images/rain2.png" style="width:100%; height:auto">
				</div>
				<div id = "right-unit-box">
					<p>現在の気温は <%= temp %>℃で</p>
					<p>降水量は <%= rain %>mm/hです</p>
				</div>
			</div>
		</div>
		</div>

		<div id = "d-box"></div>


 		</div>
	</body>
</html>